*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.box{
	border: 3px solid yellow;
	height: 100vh;
	position: relative;
	padding: 10px;
}
.left{
	float: left;	/*자식에게 absolute를 사용할 경우 부모에게 padding이 추가되는 등의 변경사항이 있을 시 문제가 되므로 float를 사용*/
	width: calc(50% - 5px);	/*width의 %는 inline일 경우가 아니면 대부분 사용할 수 있다*/
	height: 100%;	/*height의 %는 부모의 크기가 고정돼 있을 때에만 사용해야 한다*/
	border: 3px solid red;
}
.right{
	float: right;	/*float left/right를 한 경우 width에 px를 -해서 공간을 주고, float left/left라면 한쪽에 마진을 줘서 공간을 만든다*/
	width: calc(50% - 5px);
	height: 100%;
	border: 3px solid blue;
}