<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.practice.dao.MemberDAO">
<insert id="signup">
	insert into member(id, pw, gender, email, name)
		values(#{id}, #{pw}, #{gender}, #{email}, #{name})
</insert>
<select id="getMember" resultType="kr.green.practice.vo.MemberVO">		<!-- MemberVO 객체를 반환하기 위해 MemberVO 파일의 경로를 resultType에 입력 -->
	select * from member where id = #{id}
</select>
<update id="modify">
	update member
	set pw = #{pw}, gender = #{gender}, email = #{email}, name = #{name}
	where id = #{id}
</update>
</mapper>