.box{
	color: white;
	text-align: center;
	padding: 15px 0px 0px 0px;
	display: inline-block;
	width: 50px;
	height: 50px;
	border: 1px solid red;	/*테두리 1px씩이 상하좌우에 추가되기 때문에 box-sizing을 입력하거나 가로 2px 세로 2px을 적게 입력해준다*/
	box-sizing: border-box;		/*box-sizing: border-box가 없으면 width와 height는 컨텐츠의 크기가 된다(박스 = 컨텐츠+패딩+보더+마진)*/
	background-color: red;
}
.box:nth-child(3n-1){
		position: relative;
		background-color: green;
		border-color: green;
}
.box:nth-child(2){
	left: 20px;
	top: 20px;
}
.box:nth-child(5){
		bottom: 20px;
		right: 20px;
}