<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.spring.dao.BoardDAO">	<!-- 인터페이스가 있는 파일명 -->
  <select id="getBoardList" resultType="kr.green.spring.vo.BoardVO">
  	select * from board where valid = 'I'
  	<if test="type == 1"> and title like concat('%', #{search}, '%') </if>	<!-- concat : 값을 이어 붙이는 함수 -->
  	<if test="type == 2"> and contents like concat('%', #{search}, '%') </if>
  	<if test="type == 3"> and writer like concat('%', #{search}, '%') </if>
  	order by num desc	<!-- asc : 정렬, desc : 역순으로 정렬 -->
  	limit #{pageStart}, #{perPageNum}	<!-- Criteria 클래스의 getter를 통해 limit -->
  </select>
  <select id="adminGetBoardList" resultType="kr.green.spring.vo.BoardVO">
  	select * from board 
	<if test="type == 1"> where title like concat('%', #{search}, '%') </if>	<!-- concat : 값을 이어 붙이는 함수 -->
  	<if test="type == 2"> where contents like concat('%', #{search}, '%') </if>
  	<if test="type == 3"> where writer like concat('%', #{search}, '%') </if>
  	order by num desc	<!-- asc : 정렬, desc : 역순으로 정렬 -->
  	limit #{pageStart}, #{perPageNum}	<!-- Criteria 클래스의 getter를 통해 limit -->
  </select>
  <select id="getBoardContents" resultType="kr.green.spring.vo.BoardVO">
	select * from board where num = #{num} and valid = 'I'
  </select>
  	<update id="updateViews">
		update board
			set views = views+1
			where num = #{num}	<!-- #{변수명}으로 호출한 값은 멤버변수가 아니라 멤버변수의 getter -->
	</update>
	<update id="updateBoard">
		update board 
		set title = #{title},
			contents = #{contents},
			file = #{file},
			views = #{views},
			where num = #{num}
	</update>
	<insert id="register">
		insert into board(title, contents, writer, file)
			values(#{title}, #{contents}, #{writer}, #{file});
	</insert>
	<update id="boardDelete">
		update board 
		set valid = 'D'
		where num = #{num}
	</update>
    <select id="getTotalCount" resultType="int">
		select count(*) from board where valid = 'I'
		<if test="type == 1"> and title like concat('%', #{search}, '%') </if>	<!-- concat : 값을 이어 붙이는 함수 -->
	  	<if test="type == 2"> and contents like concat('%', #{search}, '%') </if>
	  	<if test="type == 3"> and writer like concat('%', #{search}, '%') </if>
	</select>
	<update id="validModify">
		update board 
		set valid = #{valid}
		where num = #{num}
	</update>
    <select id="adminGetTotalCount" resultType="int">
		select count(*) from board
		<if test="type == 1"> where title like concat('%', #{search}, '%') </if>	<!-- concat : 값을 이어 붙이는 함수 -->
	  	<if test="type == 2"> where contents like concat('%', #{search}, '%') </if>
	  	<if test="type == 3"> where writer like concat('%', #{search}, '%') </if>
	</select>
</mapper>